# PostgreSQL version
PG_VERSION=17

# Cluster name (must be the same on all nodes)
PATRONI_CLUSTER_NAME=pg-ha-cluster

# PostgreSQL superuser
PG_SUPERUSER=printu
PG_SUPERUSER_PASSWORD=nasa3!Nasa3!

# Replication user (created by Patroni automatically)
PG_REPL_USER=printu_replicator
PG_REPL_PASSWORD=nasa3!Nasa3!

# Default database
PG_DATABASE=newprinting_db

# Patroni REST API password
PATRONI_RESTAPI_PASSWORD=nasa3!Nasa3!

# --- Per-node settings (edit on each machine) ---
# Unique name for this node (node1, node2, node3)
NODE_NAME=node1

# This machine's IP (reachable by the other nodes)
NODE_IP=172.16.127.103

# All three machine IPs
NODE1_IP=172.16.127.103
NODE2_IP=172.16.127.122
NODE3_IP=172.16.127.123

# etcd initial cluster (all three nodes)
ETCD_INITIAL_CLUSTER=node1=http://172.16.127.103:2380,node2=http://172.16.127.122:2380,node3=http://172.16.127.123:2380

# Ports
PG_PORT=5432
PATRONI_PORT=8008
ETCD_CLIENT_PORT=2379
ETCD_PEER_PORT=2380
HAPROXY_PRIMARY_PORT=5000
HAPROXY_REPLICA_PORT=5001
HAPROXY_STATS_PORT=7000

